amqp==1.4.9
aniso8601==1.2.1
anyjson==0.3.3
asn1crypto==0.22.0
attrs==15.2.0
Babel==2.4.0
beautifulsoup4==4.4.1
billiard==3.3.0.23
blinker==1.4
boto==2.47.0
celery==3.1.25
cffi==1.10.0
chardet==2.3.0
click==6.7
cryptography==1.8.1
decorator==4.1.1
defusedxml==0.4.1
enum34==1.1.6
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
html5lib==0.999
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
kombu==3.0.37
lxml==3.5.0
Magic-file-extensions==0.2
MarkupSafe==1.0
meld3==1.0.2
ndg-httpsclient==0.4.2
packaging==16.8
PAM==0.4.2
paramiko==2.1.2
pbr==3.1.1
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.7
pycparser==2.17
pyliblzma==0.5.3
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyserial==3.0.1
pysftp==0.2.9
python-dateutil==2.6.0
python-openid==2.2.5
pytz==2017.2
requests==2.14.2
selenium==3.4.2
service-identity==16.0.0
six==1.10.0
SOAPpy==0.12.22
SQLAlchemy==1.1.10
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
stevedore==1.12.0
supervisor==3.2.0
Tempita==0.5.2
Twisted==16.0.0
uWSGI==2.0.15
virtualenv==15.0.1
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
Werkzeug==0.12.2
Whoosh==2.7.4
wstools==0.4.3
WTForms==2.1
zope.interface==4.1.3
